<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>about us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi
        esse dolores magni? Ipsa commodi laboriosam tenetur enim laborum neque
        qui vero eaque cum aperiam. Dolores illo aliquam corporis numquam quae.
        Exercitationem eum illum, laborum quo quaerat dolor corrupti maiores
        architecto fugiat omnis nisi, cumque aspernatur vel nemo aperiam sit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi
        esse dolores magni? Ipsa commodi laboriosam tenetur enim laborum neque
        qui vero eaque cum aperiam. Dolores illo aliquam corporis numquam quae.
        Exercitationem eum illum, laborum quo quaerat dolor corrupti maiores
        architecto fugiat omnis nisi, cumque aspernatur vel nemo aperiam sit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi
        esse dolores magni? Ipsa commodi laboriosam tenetur enim laborum neque
        qui vero eaque cum aperiam. Dolores illo aliquam corporis numquam quae.
        Exercitationem eum illum, laborum quo quaerat dolor corrupti maiores
        architecto fugiat omnis nisi, cumque aspernatur vel nemo aperiam sit?
      </p>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
